<a href="https://colab.research.google.com/github/JIHK1480/OPEN/blob/main/c1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 데이터분석
# - 의사결정을 위한 데이터 인사이트 발굴
# - 큰수의 법칙  : 데이터 수가 많아지면 우리가 원하는 확률에 근접하게 됩니다.
# - 데이터분석의 도구 : Python, R
# - 파이썬은 반복, R은 통계

In [ ]:
# 변수
x = 3
y = 7
print(x + y)

10

In [ ]:
type(x)

int

In [ ]:
z = '10'

In [ ]:
z + z

'1010'

In [ ]:
#int
# float
# str(string)

In [ ]:
type(z)

str

In [ ]:
type(z)

str

In [ ]:
int(z) + int(z) #형변환

20

In [ ]:
# jupyter notebook - python이 실행가능한 환경 ( 데이터 분석에 필요한 대부분의 모듈이 설치되어 있음)
# colab - google에서 개발한 jupyter notebook과 유사한 서비스
# python - 설치 후, power shell에서 python 파일명.py로 실행가능

In [ ]:
name = 'hyeon'
age = 25
print ( '제 이름은 ' , name,'이고 나이는 ', age,'입니다.')

제 이름은  hyeon 이고 나이는  25 입니다.

In [ ]:
#  python built in function으로 google에 검색
print('제 이름은' + name + '이고 나이는 ' + str(age) + '입니다.')

제 이름은hyeon이고 나이는 25입니다.

In [ ]:
print('제 이름은 {}이고 제 나이는 {}입니다.'.format(name, age))

제 이름은 hyeon이고 제 나이는 25입니다.

In [ ]:
print('제 이름은 {1}이고 제 나이는 {1}입니다.'.format(name, age))

제 이름은 25이고 제 나이는 25입니다.

In [ ]:
print(f'제 이름은 {name}이고 제 나이는 {age}입니다.')

제 이름은 hyeon이고 제 나이는 25입니다.

In [ ]:
#산술연산자
# +, -, /, *, **, %

x = 3
y =7
print(x + y)
print(x - y)
print(y / x) # float(실수)
print(y // x) # int(정수)
print(x * y)
print(y ** x) # 승수
print(y % x) # 나머지

10
-4
2.3333333333333335
2
21
343
1

In [ ]:
# 할당연산
x = 3
x = x + 7
x += 7
x -= 2
x

15

In [ ]:
# 비교연산
x = 3
y = 7
print(x > y)
print(x >= y)
print(x < y)
print(x <= y)
print(x == y)
print(x != y)

False
False
True
True
False
True

In [ ]:
# 논리연산
x = True # 1
y = False # 0
# and 곱
# or 합

print(x and y)
print(x or y)
print(not y)

False
True
True

In [ ]:
for i in range(100):
    if i % 3 == 0 and i % 5 ==0:
        print(i)

0
15
30
45
60
75
90

In [ ]:
# str(string)
s = 'happy ceo h'
print(type(s))
print(dir(s))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
s.count('l')
s.find('c') # find는 없는 값을 만나면 -1을 출력
s.index('c') # index는 없는 값을 만나면 error을 출력
# s.format(name, age) -> '제 이름은 {}입니다. 제 나이는 {}입니다'. format(name, age)
'-'.join(['010', '3420', '1480'])
s.replace('ceo', 'CEO')
s.split(' ')
'연도,제조사,모델,설명,가격'.split(',')
s.upper() #대문자로, lower 소문자로
'1001'.zfill(10)

'0000001001'

In [ ]:
#string의 특징
s = 'happy ceo h'
s[0] #0이란 숫자를 index라고 부릅니다. 호출하는 것을 indexing
s[3:7] # 슬라이싱
s[-3:]
s[:]
s[::2]
s[::-1]

'h oec yppah'