In [2]:
import pandas as pd

In [4]:
data = {
    '이름' : ['A', 'B', 'C'],
    '수학' : [40, 60, 70]
}

data2 = {
    '이름' : ['A', 'C'],
    '과학' : [50, 60],
    '언어' : [80, 90]
}

data = pd.DataFrame(data)
data2 = pd.DataFrame(data2)

In [6]:
data

  이름  수학
0  A  40
1  B  60
2  C  70

In [7]:
data2

  이름  과학  언어
0  A  50  80
1  C  60  90

In [8]:
merge = pd.merge(data, data2, how="left", on="이름")
merge

  이름  수학    과학    언어
0  A  40  50.0  80.0
1  B  60   NaN   NaN
2  C  70  60.0  90.0

In [9]:
merge = pd.merge(data, data2, how="right", on="이름")
merge

  이름  수학  과학  언어
0  A  40  50  80
1  C  70  60  90