## pandas

In [ ]:
import pandas as pd
data = pd.read_html('https://ko.wikipedia.org/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EC%9D%98_%EC%9D%B8%EA%B5%AC')

In [ ]:
data[4]

,연도 (년),추계인구(명),출생자수(명),사망자수(명),자연증가수(명),조출생률 (1000명당),조사망률 (1000명당),자연증가율 (1000명당),합계출산율
0,1925,12997611,558897,359042,199855,43.0,27.6,15.4,6.590
1,1926,13052741,511667,337948,173719,39.2,25.9,13.3,NaN
2,1927,13037169,534524,353818,180706,41.0,27.1,13.9,NaN
3,1928,13105131,566142,357701,208441,43.2,27.3,15.9,NaN
4,1929,13124279,566969,414366,152603,43.2,31.6,11.6,NaN
...,...,...,...,...,...,...,...,...,...
92,2017,51446201,357771,285534,72237,7.0,5.5,1.5,1.052
93,2018,51635256,326822,298820,28002,6.4,5.8,0.6,0.977
94,2019,51709098,303054,295132,7922,5.9,5.7,0.2,0.918
95,2020,51829023,272337,304948,-32611,5.3,5.9,-0.6,0.837
96,2021,51744876,260494,317773,-57280,5.1,6.2,-1.1,0.810

In [ ]:
인구수 = data[4]
출생자수 = 인구수[['출생자수(명)']]
출생자수

    출생자수(명)
0    558897
1    511667
2    534524
3    566142
4    566969
..      ...
92   357771
93   326822
94   303054
95   272337
96   260494

[97 rows x 1 columns]

In [ ]:
출생자수.sum()

출생자수(명)    66122894
dtype: int64

In [ ]:
출생자수.sum()[0]

66122894

In [ ]:
format(출생자수.sum()[0], ',')

'66,122,894'

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
            {
                "Name": [
                    "Braund, Mr. Owen Harris",
                    "Allen, Mr. William Henry",
                    "Bonnell, Miss. Elizabeth",
            ],
                "Age": [22, 35, 58],
                "Sex": ["male", "male", "female"],
            }
        )

In [ ]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
type(df['Age'])

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df["Sex"]

0      male
1      male
2    female
Name: Sex, dtype: object

In [ ]:
type(df['Sex'])

pandas.core.series.Series

In [ ]:
df[["Age"]]

   Age
0   22
1   35
2   58

In [ ]:
type(df[["Age"]])

pandas.core.frame.DataFrame

In [ ]:
df[["Sex"]]

      Sex
0    male
1    male
2  female

In [ ]:
type(df[["Sex"]])

pandas.core.frame.DataFrame