In [2]:
import pandas as pd

In [10]:
df = pd.DataFrame(
            {
                "Name": [
                    "Braund, Mr. Owen Harris",
                    "Allen, Mr. William Henry",
                    "Bonnell, Miss. Elizabeth",
            ],
                "Age": [20, 42, 72],
                "Sex": ["male", "male", "female"],
            }
        )

In [11]:
df["Age"].max()

72

In [12]:
df["Age"].min()

20

In [13]:
df["Age"].mean()

44.666666666666664

In [14]:
df["Age"].var()

681.3333333333333

In [15]:
df["Age"].std()

26.102362600602522

In [16]:
df.dtypes

Name    object
Age      int64
Sex     object
dtype: object

In [17]:
df.describe()

             Age
count   3.000000
mean   44.666667
std    26.102363
min    20.000000
25%    31.000000
50%    42.000000
75%    57.000000
max    72.000000